apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-node-app-deployment
  labels:
    app: my-node-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: my-node-app
  template:
    metadata:
      labels:
        app: my-node-app
    spec:
      containers:
      - name: my-node-app-container
        image: ${{ secrets.DOCKER_USERNAME }}/my-node-app:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
